
center
  .docWrapper
    .logoWrapper
      a(href="/").logo
    .doc
      .slogan
        | btc.io benevolently redirects Bitcoin links
      .urlType
        table
          tr
            td.L
              | /pay/
            td.R
              a(href="/pay/1CDyO0zQ5Z4hMLhsj4AKAEFwrgXRC8DqRN?amount=1.23").sampleURL
                div https:\/\/btc.io/pay
                div /1CDyO0zQ5Z4hMLhsj4AKAEFwrgXRC8DqRN
                div ?amount=1.23
