html
  head
    link(rel='stylesheet', type='text/css', href="/style.css")
  body
    != body
    center
      .footer
        a(href="https://github.com/bitcoinjs/btc.io/blob/master/LICENSE.txt") Permissively licensed
        | , benevolently run, 
        a(href="https://github.com/bitcoinjs/btc.io") forkable on GitHub
        span .
